body {
    padding: 10px;
    background: #f8f8f8;
  }
  .container {
    width: 740px;
    margin: 0 auto;
  }
  #footer {
    font-size: 11px;
    display: flex;
  }
  #footer .footer-col {
    flex: 1;
  }
  h1 {
    font-family: 'Arial', sans-serif;
    font-size: 2rem; 
    margin-top: 0em;
    margin-bottom: 0.6em;
  }
  h2 {
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    margin-bottom: 0.2em;
  }
  .bar {
    fill: #f38874;
    shape-rendering: crispEdges;
  }
  .bar:hover {
    fill: #c15f45;
    transition: fill ease-in-out 200ms;
  }
  .point:hover{
    stroke: black;
  }
  .axis text {
    fill: #666;
    font-size: 12px;
  }
  .axis path {
    shape-rendering: crispEdges;
    stroke: #888;
  }
  .y-axis path {
    display: none;
  }
  .axis line {
    display: none;
  }
  .btn {
    font-size: 11px;
    color: #adadad;
  }
  #sorting:hover, #sorting:focus {
    text-decoration: none;
    box-shadow: none;
  }
  #sorting img {
    opacity: 0.8;
  }
  #tooltip {
    position: absolute;
    opacity: 0;
    background: #fff;
    box-shadow: 2px 2px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 8px;
  }
  .tooltip-label {
    font-weight: 500;
    font-size: 10px;
    color: #888;
  }

.flex-container {
    display: flex;
}

.flex-child {
    margin: 10px;
}  

svg .tick > text {
  font-size: 1.2em;
  /* inline-size: 2px;
  overflow-wrap: break-word; */
 }

/*table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  margin-right: 20px;
  max-height: 150px;
  overflow: auto;
}


th {
  background-color: #f38874;
  color: white;
  display:block;
}

th, td {
  text-align: left;
  padding: 8px;
  font-family: 'Arial', sans-serif;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody{
  display:block;
  overflow:auto;
  height:200px;
  width:100%;
}*/

.tabulator{
  font-family: 'Arial', sans-serif;
}

.tabulator-col{
  padding: 10px;
  text-align: center;
}

#tooltip, .tooltip{
  font-family: 'Arial', sans-serif;
  font-size: 0.8em;
}